extends layout

block content
  h1 #{title}

  h3 Goods
  ol
    each good in goods
      li
        a(href='/catalog/goods/' + good._id) #{good.title}

  h3 Works
  ol
    each work in works
      li
        a(href='/catalog/work/' + work._id) #{work.title}
