extends layout

block content
  h1= title
  if error
    p Error getting counts
  else
    p.
      Contents:
      #[a(href='/catalog/goods') Goods] (!{data.goodsCount})
      #[a(href='/catalog/genres') Genres] (!{data.genreCount})
      #[a(href='/catalog/works') Works] (!{data.workCount})
