extends layout

block content
  h1.mb-3 #{title}

  ul
    li
      a(href='/catalog/goods') Goods
      span.ml-2.badge.badge-light !{data.goodsCount}
    li
      a(href='/catalog/works') Works
      span.ml-2.badge.badge-light !{data.workCount}
    li
      a(href='/catalog/genres') Genres
      span.ml-2.badge.badge-light !{data.genreCount}
    li
      a(href='/catalog/goods/create') New
