extends layout

block content
  h1 #{title}

  ul.mt-3
    li
      a(href='/catalog/goods') Goods
      span.ml-2.badge.badge-light !{data.goodsCount}
    li
      a(href='/catalog/works') Works
      span.ml-2.badge.badge-light !{data.workCount}
    li
      a(href='/catalog/genres') Genres
      span.ml-2.badge.badge-light !{data.genreCount}

  p.mt-3
    a.btn.btn-primary(href='/catalog/goods/create', role='button') New
