doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    if env.DEVMODE
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/bootstrap.min.js')
    else
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    if validatejs
      script(src='/javascripts/validate.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.d-flex.justify-content-center.p-4.bg-dark
      button#nav-albums.btn.btn-outline-light.mr-3 Albums
      button#nav-books.btn.btn-outline-light.mr-3 Books
      button#nav-films.btn.btn-outline-light Films
    if env.DEVMODE
      div.d-flex.justify-content-center.p-3.bg-light.mb-3
        a.btn.btn-secondary.mr-2(href='/catalog/works') Works
        a.btn.btn-secondary.mr-2(href='/catalog/genres') Genres
        a.btn.btn-secondary.mr-2(href='/catalog/goods') Goods
        a.btn.btn-primary(href='/catalog/goods/create') New
    div.container
      block content
  script(src='/javascripts/navigate.js')
