extends layout

block content
  div.d-flex.justify-content-center
    if data.length
        ol.mt-3
          each good in data
            li.
              #[a(href='/catalog/goods/' + good.id) #{good.title}]
                (#{good.year}) #{good.source}
    else
      p None found
