extends layout

block content
  if data.length
    div.d-flex.justify-content-center
      ol.mt-3
        each genre in data
          li
            a(href='/catalog/genre/' + genre.name) #{genre.name}
  else
    p No genres!
