extends layout

block content
  div.d-flex.justify-content-center
    if works.length
      ol
        each work in works
          li
            a(href='/catalog/work/' + work._id) #{work.title}
    else
      p None found
